body {
  animation: fadeIn 1s ease-in;
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.3019607843) 0px -1px 6px 2px;
}

div#product-list {
  row-gap: 1em;
}

.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1050;
}

.toast {
  background-color: #343a40;
  color: #fff;
  opacity: 0.9;
}

.toast-header {
  background-color: #343a40;
  color: #fff;
  border-bottom: 1px solid #474f57;
}

.toast-body {
  background-color: #343a40;
  color: #fff;
}

#cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  column-gap: 0.25em;
}

#cart-count {
  position: relative;
  top: 0;
  right: 0;
  font-size: 0.75rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-title,
.card-text {
  margin-bottom: 10px;
}

.card .btn {
  align-self: center;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}